.venv
dist/*
.cache/*
chart/*
*.yaml
*.yml
!generator/*.yaml
doc/venv/*
!doc/mkdocs.yaml
!.readthedocs.yaml
./katenary
*.env
docker-compose*
!examples/**/docker-compose*
.credentials
release.id
configs/
cover.html
cover.out
.sq
katenary
