dist/*
*.env
.credentials
release.id
cover*
.sq
.aider*
.python_history
.bash_history

.cache/
.aider/
.config/
*/venv

# local binary
./katenary

# will be treated later
/examples/*

# nsis
nsis/*.dll
nsis/*.exe

doc/share
__pycache__

.rpmmacros
*.gpg
