.wy-nav-side {
  background-color: #333333;
}

.wy-side-nav-search {
  margin-top: 1em;
  background-color: #333333;
}

img.logo {
  max-width: 70% !important;
}

.wy-nav-top {
  background-color: #333333;
}
